/* Main body and HTML */
*{
    /* outline: 2px solid red; */
}
body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}
a:link, a:visited{
    text-decoration: none;
    color:#F9FAF8;
}
ul{
    list-style-type: none;
}
button{
    border-radius: 8px;
    color:#F9FAF8;
    background-color: #3882F6;
    width:95px;
    height:25px;
    border:none;

}

/* Header */
.header{/*Complete header*/
    background-color:#1F2937;
}
.header-top{/*Top section with logo and links*/
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.header-bottom{/*bottom section with text,button,and image*/
    display:flex;
    justify-content: space-between;
}
/* Bottom left section of header with text and button */
.header-text{ 
    display: flex;
    flex-direction: column;
}
/* Image in header */
.header-image{
    width: 500px;
    height: 300px;
}
/* Large text in header */
.header-title{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
/* Smaller text in header */
.header-info{
    color:#E5E7EB;
}
/* Links at the top */
.links{
    display: flex;
    color:#E5E7EB;
}
/* Logo(text) at the top */
.logo{
    font-size: 24px;
    color:#F9FAF8;
}
/* Middle */

/* Pictures */
.center-boxes img{
    width:100px;
    height:100px;
    border: 1px solid #3882F6;
    border-radius: 8px;
}
.center-boxes{
    display: flex;
    justify-content: space-evenly;
}
.center-top{
    display: flex;
    flex-direction: column;
}
/* Quote */
.quote{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;

}
.center-middle{
    background-color: #E5E7EB;
}

/* Call to Action */
.call-to-action-box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
    margin:50px;
    width:50%;
    height:50%;
    background-color: #3882F6;
}
.call-to-action-text{
    color:#F9FAF8;
    font-size: 24px;
}
.call-to-action-info{
    font-size:18px;
    font-weight:50;
}
.center-bottom{
    display:flex;
    align-items: center;
    justify-content: center;
}
.call-to-action-box button{
    border: 1px solid white;
}

/* Footer */
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    color:#E5E7EB;
    background-color:#1F2937;
    padding:30px;
}








